.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 5px;
    background-color: #a4daeb;
    width: 100vw;
  }
  .list-unstyled a{
    list-style: none;
    padding: -15;
    color: black; /* Use the color inherited from the parent element */
    text-decoration: none;
  }
  .list-unstyled li a {
    margin-right: 0px;
    padding-right: 24px;
    padding-left: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black; /* Use the color inherited from the parent element */
    text-decoration: none;
  }
